/* Set the scroll behavior to smooth so that when you click the in the header, the screen scrolls down rather than jumps */
html {
  scroll-behavior: smooth;
  overflow: hidden;
}

/* Set the margin to 0 to make sure the page stretches all the way to the edge of the browser window. */
body {
  margin: 0;
}

header, footer {
  background-color: #630031;

  text-align: left;
/*  min-width: 500px; */
}

header, .slide {
  font-family: Josefin Sans, sans-serif;
  color: #fff;
  min-height: 100vh;
  display: flex;
}

.container {
/*  min-width: 500px; */
  margin: auto;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 20px;
  margin-top: 44px;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

h1 {
  font-family: 'Yeseva One', cursive;
  font-size: calc(1em + 3vw);
  padding-bottom: .67em;
  border-bottom: 1px solid;
  line-height: 1.3;
  text-align: center;
}

h2 {
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  color: #386641;
  padding: 10px 20px 0px 20px;
}

.wrapper {
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
  padding: 50px;
  display: block;
  box-sizing: border-box; /* ensure padding/borders don't cause overflow */

}

.slide {
  min-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-1 {
  background-image: url('../photo/wrapper.jpeg');
  background-color: rgba(0, 0, 0, 0.5); /* Black opacity layer */
  background-blend-mode: multiply;       /* Blends color and image together */
}

.slide-2 {
  /* background-color: #cf4420; */
  background-image: url('../photo/box_closed1.jpeg');
  background-color: rgba(0, 0, 0, 0.5); /* Black opacity layer */
  background-blend-mode: multiply;       /* Blends color and image together */
}

.slide-3 {
  background-image: url('../photo/box_opened.jpeg');
  background-color: rgba(0, 0, 0, 0.5); /* Black opacity layer */
  background-blend-mode: multiply;       /* Blends color and image together */
}

.bio {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.project {
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 40%);
  width: 100%;
}


.description {
  font-family: Josefin Sans, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 0px 20px 20px 20px;
}



footer div {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  display: flex;
  align-content: center;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.5);
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.myButton {
  border-radius: 28px;
  border: 3px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  margin: 1.69em auto;
}

.myButton:hover {
  background-color:rgba(0,0,0,0.5);
}

.myButton:active {
  position:relative;
  top:1px;
}

@media all and (max-width:700px) {
  main {
    grid-template-columns: 1fr;
  }
  img {
    height: 40vh;
  }
  /*
  .description {
    font-size: 18px;
  }
  */
}
